html, body {
  padding: 0;
  margin: 0;
  background-color: #EFE5BA;
  font-family: 'Roboto Slab', serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #d6cb9c;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  display: flex;
  margin-left: 50px
}

#page-icon {
  height: 100px;
}

#name {
  margin: 30px 0 0 10px;
  font-family: 'Luckiest Guy', cursive;
  font-weight: lighter;
}

nav {
  font-size: 20px;
  width: 40%;
}

#nav-list {
  list-style-type: none;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin: 0 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#email {
  width: 20%;
}
button {
  border: none;
  font-weight: bold;
  background-color: #000    ;
  color: #FFF;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background-color: #996B00;
  transition: 0.5s ease-in;
}
#submit {
  height: 30px;
  width: 10%;
}

#features {
  margin: 50px 0;
  width: 65%;
}

.feat-box {
  display: flex;
  margin-bottom: 30px;
}

.feat {
  margin-left: 50px;
}

.description {
  margin-top: -15px;
}

#pricing {
  width: 70%;
  height: 310px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.price-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.type {
  width: 100%;
  margin-top: 0;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  background-color: #e6dbac;
}

.price {
  font-size: 30px;
  margin: 0;
}

.price-des {
  line-height: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.price-select {
  width: 40%;
  height: 30px;
  font-family: 'Roboto Slab', serif;
}

footer {
  width: 75%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #e6dbac;
}

#footer-list {
  list-style-type: none;
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-bottom: 0;
}

#copyright {
  width: 30%;
  text-align: center;
  margin-top: 5px;
  opacity: 0.4;
}
